
@{
    ViewBag.Title = "ExpertRequest";
}

<h2>Request for Marshall Expert Consultant Status</h2>

<h5>@ViewBag.Message</h5>

<div>
    <div>
        @Html.ActionLink("Return to Profile", "UserProfile")
    </div>
    @Html.ActionLink("Home", "Index")
</div>

