
@{
    ViewBag.Title = "Admin";
}

<h2>Administrative Tasks</h2>

<div>
    @Html.ActionLink("Check Pending Expert Requests", "PendingExpertRequests")
    <div>
        @Html.ActionLink("Change Exper Accounts", "CurrentExperts")
        <div>
            @Html.ActionLink("Change User Accounts", "CurrentUsers")
        </div>
    </div>
</div>





