@{
    ViewBag.Title = "About ORCA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Marshall Online Reporting & Consulting Application is provided by Marshall University as a community service.</p>
