@model ORCA.Models.AddCon

@{
    ViewBag.Title = "zzzdeta";
}

<h2>zzzdeta</h2>

<div>
    <h4>AddCon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SearchString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
